<h2>Categories List</h2>
<a href="/categories/add" class="btn btn-success">Add Category</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each categories}}
        <tr>
            <td>{{this.category}}</td>
            <td>
                <a href="/categories/delete/{{this.id}}" class="btn btn-danger">Remove</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{#if message}}
<p>{{message}}</p>
{{/if}}